@charset "utf-8";
.bg{width: 1024px; height: 3976px; background-color: white; margin: auto}
.menu{width: 1024px; height: 60px; background-color: white}
.menu a{text-decoration: none; color: black; padding-left: 30px; padding-right: 30px; font-size: 13px; font-weight: bold}
.menu a:hover{background-color: gray; color: white}
.line1{width: 1024px; height: 500px; background-color: white}
.line2{width: 1024px; height: 160px; background-color: white}
.khung{width: 260px; height: 100px; background-color: white; border-style: double; border-color: gainsboro; border-width: 5px; float: left; margin-left: 50px; text-align: center; color: grey; margin-top: 20px}
.khung img{padding-top: 30px; padding-left: 20px; padding-right: 20px}
.line3{width: 1024px; height: 530px; background-color: white}
.trai{width: 520px; height: 530px; background-color: white; float: left}
.trai img{padding-left: 120px; transition:all 0.3s ease}
.trai:hover img{transform: scale(0.8)}
.phai{width: 504px; height: 530px; background-color: white; float: right}
.khunghinh{width: 186px; height: 250px; background-color: white; float: left; margin-right: 10px; text-align: center; line-height: 20px; 
font-size: 15px}
.khunghinh img{transition:all 0.3s ease}
.khunghinh:hover img{transform: scale(0.8)}
.line4{width: 1024px; height: 350px; background-color: white}
.line5{width: 1024px; height: 530px; background-color: white}
.trai5{width: 500px; height: 530px; background-color: white; float: left}
.phai5{width: 500px; height: 530px; background-color: white; float: right}
.phai5 img{transition:all 0.3s ease}
.phai5:hover img{transform: scale(0.8)}
.khunghinh5{width: 186px; height: 250px; background-color: white; float: right; margin-left: 10px; text-align: center; line-height: 20px; font-size: 15px}
.khunghinh5 img{transition:all 0.3s ease}
.khunghinh5:hover img{transform: scale(0.8)}
.line6{width: 1024px; height: 72px; background-color: white; text-align: center}
.line7{width: 1024px; height: 305px; background-color: white}
.line7 img{padding-left: 50px}
.line8{width: 1024px; height: 325px; background-color: #f0efeb}
.line8 h3{text-align: center; padding-top: 60px; padding-bottom: 50px}
.line9{width: 1024px; height: 400px; background-color: white}
.trai9{width: 515px; height: 400px; background-color: white; float: left}
.trai9 img{float: right; padding-top: 40px}
.phai9{width: 500px; height: 400px; background-color: white; float: left}
.phai9 form{padding-top: 60px}
.phai9 form input{margin-right: 5px; background-color: #f7f7f7; border: none; height: 40px; padding-left: 20px; color: black; font-size: 12px; margin-bottom: 10px}
.phai9 form textarea{background-color: #f7f7f7; border: none; width: 320px; padding-top: 10px; padding-left: 20px; color: gray; font-size: 13px}
.line10{width: 1024px; height: 420px; background-color: white}
